<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kobayashi.reiji.ransukun">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ransukun"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="kobayashi.reiji.ransukun.MainActivity">
            <intent-filter android:label="乱数君">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>